/*MIXIN con parametro*/

@mixin fondo-color ($fondo, $espinaca){
    background-color: $fondo;
    color: black;
    text-align: center;
    font-family: $espinaca;
}

.parrafo-2{
    @include fondo-color($coral, $typo-secundaria);
}

.parrafo-3{
    @include fondo-color($verde-lima, $typo-principal);
}

.parrafo-4{
    @include fondo-color($amarillo, $typo-secundaria);
}

.parrafo-5{
    @include fondo-color($rojizo, $typo-principal);
}